<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side">
    <mat-list role="list">
      <mat-list-item role="listitem" *ngFor="let contact of contacts" (click)="openChat(contact.id, contact.name, contact.avatar)"
        id="chanelItem{{contact.id}}">{{contact.name}}</mat-list-item>
    </mat-list>
  </mat-drawer>
  <div class="sidenav-content">
    <app-message-feed></app-message-feed>
    <button type="button" mat-icon-button (click)="drawer.toggle()" id="chanelItem">
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>
</mat-drawer-container>