<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side" opened>
    <mat-list role="list" class="chanelList">
      <mat-list-item role="listitem" *ngFor="let contact of contacts" class="chanelItem">
          <a  [routerLink]="['/channel', contact.id]" [ngClass]="{'active-channel' : (activeChannelId && contact.id == activeChannelId)}">
            {{contact.name}}  
           </a>
      </mat-list-item>
    </mat-list>
  </mat-drawer>
  <div class="sidenav-content">
    <app-message-feed></app-message-feed>
    <button type="button" mat-icon-button (click)="drawer.toggle()" id="chanelItem">
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>
</mat-drawer-container>