<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side" opened>
    <mat-list role="list" class="chanelList">
      <mat-list-item role="listitem" *ngFor="let contact of getData.contacts" class="chanelItem">
        <span *ngIf="contact.unread_messages_count > 0" class="new-message"> {{contact.unread_messages_count}}</span>
        <a [routerLink]="['/channel', contact.id]" [ngClass]="{'active-channel' : (getData.activeChannelId && contact.id == getData.activeChannelId)}">
          {{contact.name}}
        </a>
      </mat-list-item>
    </mat-list>
  </mat-drawer>
  <div class="sidenav-content">
    <app-message-feed></app-message-feed>
    <button type="button" mat-icon-button (click)="drawer.toggle()" id="chanelItem">
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>
</mat-drawer-container>