<app-feed-header></app-feed-header>
<div class="message-block">
  <div class="mesage-scroll-block" id="mesage-scroll-block">
    <mat-card *ngFor="let message of getData.messages">
      <mat-card-header>
        <div mat-card-avatar class="contact-avatar">
          <img [src]="message.avatar" alt="">
        </div>
        <div class="message-info">
          <mat-card-title>{{message.name}}</mat-card-title>
          <mat-card-subtitle>{{message.createdAt}}</mat-card-subtitle>
        </div>
      </mat-card-header>
      <mat-card-content>
        <p>
          {{message.text}}
        </p>
        <div class="message-photo" *ngIf="message.imageUrl">
          <img [src]="message.imageUrl" class="w-100" alt="">
        </div>
        <div class="message-file" *ngIf="message.fileName">
          <mat-icon [svgIcon]="message.fileType" class="search"></mat-icon>
          <p> {{message.fileName}}</p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<app-send-message></app-send-message>